.App {
  text-align: center;
}
.auth-form-container {
  margin: 0 auto;
  border: 1px solid whitesmoke;
  padding: 2%;
  width: 100%;
  border-radius: 5px;
}

.tabbed-form-container {
  margin: 0 auto;
  border: 1px solid whitesmoke;
  padding: 2%;
  width: 40%;
  border-radius: 5px;
}
