.App {
  text-align: center;
}
.auth-form-container {
  margin: 0 auto;
  padding: 2%;
  width: 100%;
  border-radius: 5px;
}

.tabbed-form-container {
  margin: 0 auto;

  padding: 2%;
  width: 400px;
  border-radius: 5px;
}

.login-container {
  width: 400px;
}
